html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Custom checkbox*/


.customChechbox {
    position: absolute;
    left: -100vw;
}

.checkboxLabel {
    color: #aab8c2;
    cursor: pointer;
    font-size: 2em;
    align-self: center;
    transition: color 0.2s ease-in-out;
}

    .checkboxLabel:hover {
        color: grey;
    }

    .checkboxLabel::selection {
        color: none;
        background: transparent;
    }

    .checkboxLabel::-moz-selection {
        color: none;
        background: transparent;
    }

.customChechbox:checked + .checkboxLabel {
    color: #e2264d;
    will-change: font-size;
    animation: heart 1s cubic-bezier(.17, .89, .32, 1.49);
}



@keyframes heart {
    0%, 17.5% {
        font-size: 0;
    }
}
  