@using Microsoft.AspNetCore.Identity
@using CryptoSiteAsp.Data;
@model HomeIndexViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Home Page";
}


<div class="row mt-5">
    <div class="col-md-6">
        <h2>Welcome to Crypto Explorer!</h2>
    </div>
</div>
<br />
@if (Model.CryptoCurrencyCoins != null && Model.CryptoCurrencyCoins.Count() > 0)
{
    <partial name="_TableCoinPartial" model="Model.CryptoCurrencyCoins" />
}
else
{
    <div class="text-center text-light">
        Can't load coins
    </div>
}


<div class="modal fade" id="LoginModal" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <partial name="_UserLoginPartial" model="new LoginModel{
            Email = String.Empty,
            Password = String.Empty,
            RememberMe = false
        }">
</div>
<div class="modal fade" id="RegistrationModal" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <partial name="_UserRegistrationPartial" model="new RegistrationModel{
            Email = String.Empty,
            FirstName = String.Empty,
            LastName = String.Empty,
            Password = String.Empty,
            ConfirmPassword = String.Empty
        }">
</div>


@section Scripts{
    @{
        await Html.RenderPartialAsync("_AuthScriptsPartial");
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}