@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div class="modal fade" id="LoginModal" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <partial name="_UserLoginPartial" model="new LoginModel{
            Email = String.Empty,
            Password = String.Empty,
            RememberMe = false
        }">
</div>
<div class="modal fade" id="RegistrationModal" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <partial name="_UserRegistrationPartial" model="new RegistrationModel{
            Email = String.Empty,
            FirstName = String.Empty,
            LastName = String.Empty,
            Password = String.Empty,
            ConfirmPassword = String.Empty
        }">
</div>


@section Scripts{
    @{
        await Html.RenderPartialAsync("_AuthScriptsPartial");
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}