@inject SignInManager<ApplicationUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Home" asp-action="SearchCrypto"><i class="fa-solid fa-magnifying-glass"></i> Search</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Favourite"><i class="fa-solid fa-star"></i> Favourite</a>
    </li>
}
